/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Couleurs */
body {
    background-color: #fff;
    color: #333;
    font-family: Arial;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 10px 20px;
}

header img {
    width: 500px;
}

header .connexion {
    float: right;
    background-color: #007bff;
    color: #fff;
    padding: 0px px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

header .connexion a {
    color: #ffffff;
    padding: 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    border-radius: 10px;
}

header .connexion a:hover {
    background-color: #007bff;
    color: #007bff;
}

/* Hero */
.hero {
    background-image: url(PICTURE/PPPPPPPPO.jpg);
    padding: 250px 350px;
    text-align: center;
}

.hero h1 {
    font-size: 2em;
    font-family: Arial;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}


.hero input {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.hero button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.hero button:hover {
    background-color: #fff;
}

.avantages{
    column-count: 3;
    padding: 10%;
    text-align: center;
    column-width: 50px;
    column-gap: 50px;

}
.img2{
    width: 40%;
    height: 40%;
}
h1{
    color: white;
}
div .connexion{
    float: right;
    background-color: #007bff;
    color: #fff;
    padding: 0px px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

footer{
    background-color: #1E2944;
    padding: 60px;
}

.p1{
    color: #ffffff;
    display:inline;
}


.copy{
    color: #ffffff;
    text-align: center;
}